pyrogram~=2.0.35
tgcrypto
aiohttp
requests
pymongo==3.12.2
dnspython
motor==2.5.1
heroku3
psutil
pyromod
pyropatch
yt-dlp
hachoir
numpy
pillow
python-magic
google-api-python-client>=1.7.11,<1.7.20
google-auth-httplib2>=0.0.3,<0.1.0
google-auth-oauthlib>=0.4.1,<0.10.0
tenacity>=6.0.0
python-dotenv